/* ------------------------------
   Reset & Base
------------------------------ */
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #1F1F1F;
  font-family: "Segoe UI", sans-serif;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ------------------------------
   Sidebar
------------------------------ */
.sidebar {
  position: fixed;
  left: 20px;
  width: 44px;
  height: 95vh;
  background: #181818;
  border-radius: 5px;
  padding: 8px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.sidebarIcon {
  width: 30px;
  height: 30px;
  margin: 4px 0;
  padding: 0px;
  cursor: pointer;
  border: 1px solid #7c5cffcc;
  border-radius: 6px;
  color: #7c5cffcc;
}

.sidebarIcon:hover {
  background-color: #7c5cffcc;
  color: #ffffff;
}

/* ------------------------------
   Main body & Poster
------------------------------ */
.main-body {
  flex: 1;
  position: relative;
  background: #1F1F1F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: min(100vw, calc(100vh * 0.707));
  height: min(calc(100vw * 1.4142), 100vh);
}

.poster.download-mode {
  pointer-events: none;
  user-select: none;
}

.poster:hover {
  cursor: url('imgs/transform.png'), auto !important;
}



/* ------------------------------
  posterWrapper
------------------------------ */
.posterWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------
   Star Map , content body, title
------------------------------ */
.map, 
.contentTitle,
.contentBody {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBody {
  flex-direction: column;
}

.map:hover,
.contentTitle:hover,
.contentBody:hover {
  cursor: grab;
  background-color: #7d5cff0c;
}

/* ------------------------------
   Global draggable nodes
------------------------------ */

.hasIcon:hover {
  outline: 1px dashed #7c5cffcc;
}

.hasIcon.active {
  outline: 1px dashed #7c5cffcc;
}

/* ------------------------------
   Icon wrappers
------------------------------ */
.iconWrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: none;
  background-color: #7c5cffcc;
  border: 1px solid #7c5cffcc;
  z-index: 9999;
}

.editIcon {
  transform: translate(10%, -20%);
  color: white;
}


/* Show icons on hover/active */
.hasIcon:hover > .iconWrapper,
.hasIcon.active > .iconWrapper{
  display: block;
}


/* ------------------------------
   Misc
------------------------------ */
.mw {
  fill: rgba(255, 255, 255, 0.08);
  pointer-events: none;
}
